@model IEnumerable<Tachyon.Models.Procedure>

@{
    ViewData["Title"] = "ProcedureIndex";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<h1>Procedure</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anesthesia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anesthesiaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.physician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anesthesiologist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assistant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentOperator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postProcedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disposition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anesthesia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anesthesiaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.physician)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anesthesiologist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assistant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentOperator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postProcedure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />