@model IEnumerable<Tachyon.Models.PatientProgress>

@{
    ViewData["Title"] = "ProgressIndex";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<h1>Patient Progress</h1>

    <p>
        <a type="button" class="btn btn-primary" asp-action="ProgressCreate">Create New</a>
    </p>

    <table class="fl-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Snacks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consistency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saturation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FluidBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeartRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntibioticTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lunch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dinner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Snacks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consistency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FluidBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transfusion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntibioticTreatment)
            </td>
                    <td class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a type="button" class="dropdown-item" asp-action=="ProgressEdit" asp-route-id="@item.id">Edit</a> |
                            <a type="button" class="dropdown-item" asp-action="ProgressDetails" asp-route-id="@item.id">Details</a> |
                            <a type="button" class="dropdown-item" asp-action="ProgressDelete" asp-route-id="@item.id">Delete</a>
                        </div>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />